@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* only needed once */
toolbarbutton#alltabs-button {
}
/* TABS: height */
:root[uidensity="compact"] {
	--tab-min-height: 23px !important;
}
:root {
	--tab-toolbar-navbar-overlap: 0px !important; /* fix for full screen mode */
	--tab-min-height: 23px !important;
	--tab-filter: none;
}
:root:-moz-lwtheme-brighttext:not([lwt-default-theme-in-dark-mode]) {
	--urlbar-box-bgcolor: transparent !important;
}
:root #tabbrowser-tabs {
	--tab-min-height: 23px !important;
}
#TabsToolbar {
	height: var(--tab-min-height) !important;
	max-height: 23px !important;
}
/* Active tab */
.tab-background[selected="true"] {
	background-color: #2a2c33 !important;
	background-image: none !important;
}
.tab-background {
	transform: translateY(-4px) !important;
}
.tab-background,
.tab-stack {
	min-height: 23px !important;
}
/* show close button on hover */
#tabbrowser-tabs[closebuttons="activetab"] .tabbrowser-tab:not([selected]):not([pinned]):hover .tab-close-button {
	display: -moz-inline-box !important;
}

/* make the close button more clearly visible on hover */
.tab-close-button:hover {
	background-color: rgba(255, 0, 0, 0.5) !important;
	fill: white !important;
	display: normal !important;
}
.tab-close-button {
	transition: all 0.25s ease-in-out !important;
	width: 19px !important;
	height: 18px !important;
	padding: 4px !important;
	border-radius: 10px;
}
.tabbrowser-tab:not(:hover) > .tab-stack > .tab-content > .tab-close-button {
	display: none !important;
	transition: all 0.25s ease-in-out !important;
}
.titlebar-button:not(:hover) > .toolbarbutton-icon:-moz-window-inactive {
	min-height: 12px !important;
	max-height: 12px !important;
}
.tab-content {
	transform: translateY(-5px) !important;
}
.tab-background[multiselected="true"],
.tab-background[selected="true"] {
	transform: translateY(-4px) !important;
}
#nav-bar {
	height: 27px !important;
	margin-top: 3px;
}
#tabs-newtab-button,
#TabsToolbar #new-tab-button {
	transform: translateY(-4px) !important;
}
#urlbar[breakout] {
	transform: translateY(3px) !important;
}
.browser-toolbar:not(.titlebar-color) {
	background-color: transparent !important;
}
.titlebar-button {
	padding: 6px 17px !important;
	max-height: 24px !important;
}
#scrollbutton-up,
#scrollbutton-down {
	padding: 3px 0px !important;
	max-height: 21px !important;
	border: 1px !important;
}
#identity-box[pageproxystate="valid"].notSecureText > .identity-box-button:hover:not([open]),
#identity-box[pageproxystate="valid"].chromeUI > .identity-box-button:hover:not([open]),
#identity-box[pageproxystate="valid"].extensionPage > .identity-box-button:hover:not([open]) {
	background-color: #2d2d2d !important;
}
#identity-box[pageproxystate="valid"].notSecureText > .identity-box-button,
#identity-box[pageproxystate="valid"].chromeUI > .identity-box-button,
#identity-box[pageproxystate="valid"].extensionPage > .identity-box-button,
#urlbar-label-box {
	background-color: transparent !important;
}
#urlbar-background,
#searchbar {
	border: 0px solid var(--toolbar-field-border-color) !important;
}
#urlbar-background,
#searchbar {
	border-radius: 15px !important;
}
#urlbar:is([focused="true"], [open]):-moz-lwtheme > #urlbar-background,
#searchbar:focus-within:-moz-lwtheme {
	background-color: var(--lwt-toolbar-field-focus) !important;
}
#urlbar:-moz-lwtheme > #urlbar-background,
#searchbar:-moz-lwtheme {
	background-color: transparent !important;
}
#alltabs-button > .toolbarbutton-badge-stack > .toolbarbutton-icon {
	transform: translateY(-3px);
}
#urlbar[breakout] {
	background-color: rgba(0, 0, 0, 0) !important;
	border-radius: 10px;
	--toolbar-field-focus-border-color: transparent !important;
}
#urlbar:focus-within {
	background-color: rgba(0, 0, 0, 0.75) !important;
}
#urlbar-input-container {
	outline: none;
}
#PlacesToolbarItems > .bookmark-item .toolbarbutton-text {
	display: none !important;
}
#PlacesToolbarItems > .bookmark-item {
	padding-right: 0 !important;
}
#TabsToolbar-customization-target {
	margin-bottom: -10px;
}
toolbarbutton .toolbarbutton-icon[label="Firefox View"] {
	margin-top: -6px;
}
.bookmark-item[label="Playground - OpenAI API"], .bookmark-item[label="Kali Tools"] {
	-webkit-filter: invert(1);
	filter: invert(1);
}
 {
	-webkit-filter: invert(1);
	filter: invert(1);
}
.bookmark-item[label="Kali Forums"] {
	-webkit-filter: invert(1);
	filter: invert(1);
}
#titlebar {
	margin-bottom: -2px;
}
#firefox-view-button {
	max-height: 24px;
	margin-top: -6px !important;
}
#tabbrowser-tabs {
	max-height: 22px;
	min-height: 22px !important;
	margin-top: -2px !important;
	padding-bottom: 0 !important;
}
#nav-bar {
	margin-bottom: -27px;
	-webkit-animation: ease-in-out auto 400ms;
	animation: ease-in-out auto 400ms;
}
#firefox-view-button image {
	padding-top: 3.5px !important;
	max-height: 23px;
	margin-top: 7px;
	padding-bottom: 4.5px !important;
	padding-left: 10.5px !important;
	padding-right: 10.5px !important;
}
#tabs-newtab-button {
	margin-top: 3px !important;
	max-height: 18px;
	min-height: 18px;
}
#alltabs-button {
	max-height: 30px;
	min-height: 29px;
}
#alltabs-button .toolbarbutton-badge-stack {
	max-height: 23px;
	margin-top: -10px !important;
}
.titlebar-buttonbox-container {
	margin-top: 1px !important;
	margin-bottom: -2px !important;
}
arrowscrollbox .tabbrowser-tab {
	min-height: 23px !important;
	max-height: 23px !important;
}
#tabs-newtab-button .toolbarbutton-icon {
	padding-top: 3px !important;
	padding-bottom: 4px !important;
	padding-left: 7px !important;
	padding-right: 6px !important;
	max-height: 23px;
	margin-top: 7px !important;
	max-width: 29px;
}
#new-tab-button .toolbarbutton-icon {
	padding-top: 3px !important;
	padding-bottom: 4px !important;
	padding-left: 7px !important;
	padding-right: 6px !important;
	max-height: 23px;
	margin-top: -3px !important;
	max-width: 29px;
}
#alltabs-button .toolbarbutton-badge-stack {
	padding-top: 7px !important;
}
spacer[part="overflow-start-indicator"],
spacer[part="overflow-end-indicator"] {
	max-height: 24px;
}
#TabsToolbar hbox.titlebar-spacer {
	width: 14px !important;
}
#urlbar-input-container {
	margin-top: -3px;
}
toolbarbutton {
	border-radius: var(--urlbar-icon-border-radius);
}
.tabbrowser-tab .tab-icon-stack {
	-webkit-filter: var(--tab-filter);
	filter: var(--tab-filter);
}
.tabbrowser-tab[soundplaying] .tab-icon-stack {
	-webkit-filter: none;
	filter: none;
}
#firefox-view-button {
	-webkit-filter: var(--tab-filter);
	filter: var(--tab-filter);
}
/* #urlbar:is([focused="true"], [open]), #searchbar:focus-within {
	background-color: rgba(0, 0, 0, 0.79) !important;
}
#urlbar {

} */
